<div style="padding: 20px;">

    <h2 style="margin:0 0 1em">
        {{ translate(title) }}
    </h2>

    <div style="margin: 1em 0 2em">
        {{ translate(body) | raw }}
    </div>

    {{ form().openTag(form) | raw }}

    {% for name, elem in form.getElements() %}
        {% if elem.helper == 'formHidden' %}
            {{ formElement('hidden', elem) | raw }}
        {% else %}
            {{ renderScript('maniple-user-consents/forms/element-checkbox.twig', { elem: elem | raw }) }}
        {% endif %}
    {% endfor %}

    <p class="text-center">
        <button type="submit" class="btn btn-primary">
            {{ translate('Save and continue') }}
        </button>
    </p>

    {{ form().closeTag() | raw }}
</div>
