<style>
    .breadcrumb {
        background: none;
        padding: 8px 0;
    }
    .consents__page {
        position: relative;
        display: block;
        padding: 20px 50px 40px;
        min-height: 480px;
    }
    .consents__page h1 {
        margin: 0 0 40px;
    }
</style>
<article class="consents__page">
    <ol class="breadcrumb">
        <li><a href="{{ baseUrl() }}">Start</a></li>
        <li><a href="{{ url('maniple-user-consents.consents.index') }}">{{ translate('Consents management') }}</a></li>
        <li class="active">{{ title }}</li>
    </ol>

    <h1>{{ title }}</h1>

    {{ form().openTag(form) | raw }}

    {% for elem in form.elements %}
        {% if elem.getAttrib('type') == 'checkbox' %}
            {{ renderScript('maniple-user-consents/forms/element-checkbox.twig', { elem: elem }) | raw }}
        {% else %}
            {{ renderScript('maniple-user-consents/forms/element.twig', { elem: elem }) | raw }}
        {% endif %}
    {% endfor %}

    <p class="text-center">
        <button type="submit" class="btn btn-primary">{{ translate('Save') }}</button>
        <a href="{{ url('maniple-user-consents.consents.index') }}" class="btn btn-secondary">{{ translate('Cancel') }}</a>
    </p>

    {{ form().closeTag() | raw }}
</article>
